<h1>Blog CD</h1>

<h3>Últimas postagens</h3>

<% @posts.each do |post| %>
  <div class="jumbotron">
    <div class="card">
      <%= image_tag(post.image_post, class: "card-img-top col-sm-12", size: "300x200")%>
      <!-- <img class="card-img-top" src="<%= post.image_post %>" alt="Card image cap"> -->
      <div class="card-block">
        <h4 class="card-title"><%= post.title %></h4>
        <p class="card-text"><%= post.subtitle %></p>
        <!-- <a href="#" class="btn btn-primary">Ir para postagem</a> -->
        <%= link_to "Ver postagem", post_detail_path(post), class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>

<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
