<div class="col-sm-offset-4">
  <h1><%= @post.title %></h1>
  <%= @post.subtitle %>
</div>

<div class="">
  <%= image_tag(@post.image_post, size: "300x200", class: "col-sm-12") %>
</div>

<div class="">
  <%= @post.body_text %>
</div>
<br>
<label for="">Data da Publicação</label>
<%= @post.created_at.strftime("%d/%m/%Y - %H:%M") %>
<br>
<label for="">Autor</label>
<%= @post.user.try(:name) %>
<br>
<% link_to "Voltar", home_path %>
