<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Nome" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.label "E-mail" %>
    <%= f.email_field :email, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Digite a nova senha" %>
    <%= f.password_field :password, class: "form-control" %>
  </div>
  <br>
  <div class="field">
    <%= f.label "Confirme a senha" %>
    <%= f.password_field :password_confirmation, class: "form-control" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Salvar", class:"btn btn-success btn-sm" %>
    <%= link_to 'Show', @user, class:"btn btn-info btn-sm" %>
    <%= link_to 'Back', users_path, class:"btn btn-danger btn-sm" %>
  </div>
<% end %>
